@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-geist-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist, Arial, Helvetica, sans-serif;
}

@theme{
  --color-primary: #171717,
  --color-primaryLight : #1f2223,
  --color-primaryDark : #0e1010,
  --color-secondary: #ffe600, 
  --color-secondary200 : #f19a0e,
  --color-third : #FEFAE0,
  --color-lightBlack : #414549,
  --color-mainGray : #9ca3af,
  --color-mainGrayLight:#e5e7eb,
  --color-mainGrayDark:#525252,
  --color-darkGray : #232533,
  --color-lightGray : #CDCDE0
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}